:root{
    max-width: 400px;
    background-color: #FFA07A;
}
.container{
  position: relative;
  
}
button{
    width: 30px;
    height: 20px;
    border-color: black;
    border-width: 3px;
    position: relative;
    margin-left: 45px;
    margin-top: 30px;


}
.calcular{
    width: 80px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    position:relative;
    margin-left: 130px;
}
    

.refresh{
    width: 80px;
    height: 30px;
    position: relative;
    margin-left: 130px;
    margin-top: 0px;
}
input{
    width: 200px;
    height:30px;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
output{
    margin-left: 50px;
  
    
}
h1{
    margin-left: 80px;
    color:  #1c2833;
    margin-top: 30px;


}
